.table-by-categories {
}

.table-by-categories table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

.table-by-categories td {
  border: 1px solid;
}

.table-by-categories th {
  border: 1px solid;
  text-align: left;
}
